<div [hidden]="!testers">
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Experience</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tester of testers; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ tester.firstName }}</td>
        <td>{{ tester.lastName }}</td>
        <td>{{ tester.experience }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
